* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
  }
  
  .main-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #77988C;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
  }
  
  .sidebar .logo {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .sidebar .logo img {
    width: 50px;
    height: auto;
  }
  
  .sidebar .logo h1 {
    font-size: 1.5rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar ul li a:hover {
    color: #283933;
  }
  
  .content {
    margin-left: 270px;
    width: calc(100% - 270px);
    padding: 40px;
  }
  
  .profile-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-color: #ff6f61;
  }
  
  button {
    padding: 12px 20px;
    background-color:#77988C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #283933;
  }
  

  .change-password-section {
    margin-top: 20px;
  }
  
  .change-password-section h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .btn {
    background-color: #77988c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #4f665b;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
  }
  
  .logo-link img {
    width: 40px;
    height: 40px;
  }
  
  .logo-link h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
  }
  