body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg-cover {
  background: url('your-background-image.jpg') no-repeat center center;
  background-size: cover;
}

.form-container {
  width: 100%;
  max-width: 450px;
}

.text-custom {
  color: #77988c;
}

.btn-custom {
  background-color: #77988c;
  color: #f8f9fa;
}

.btn-custom:hover {
  background-color: #495057;
  color: #f8f9fa;
}
