* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    
  }

  header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fffafa;
    position: sticky;  
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  header h1 {
    margin-left: 20px;
    font-size: 2.5rem;
    color: #000;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(44, 44, 44);
  }

  nav ul li a:hover {
    color: #000;
    padding-bottom: 10px;
    border-bottom: rgb(119, 152, 140) 2px solid;
  }

  nav ul li a.active {
    color: #000;
    padding-bottom: 10px;
    border-bottom: rgb(119, 152, 140) 2px solid;
  }


  .login-signup button {
    padding: 7px 8px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
  }

  .login-signup button:hover {  

  }

  .btn1 a{
    text-decoration: none;
    color: #000000;
  }
  .btn1:hover{
    background-color: rgb(54, 57, 56);
    color: #fff;
    cursor: pointer;


  }

  .btn2{
    background-color: rgb(119, 152, 140);
    color: #fff;
  }

  .btn2:hover{
    background-color:rgb(53, 71, 65);
  }

#home img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}